.outer-wrapper {
  display: flex;
  justify-content: center;
}

.inner-wrapper {
  display: flex;
  width: 100%;
  max-width: 1279px;
  padding: 2.5px 0px;
}

.body-nav {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 240px;
  padding-right: 12px;
  height: 100vh;
}

.body-nav a {
    background-color: #44b;
    margin-bottom: 5px;
    padding: 8px;
    text-transform: uppercase;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 11px;
    list-style: none;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push footer to bottom */
  height: 100%; /* Ensures the product fills its container */
}

.productName {
  background-color: #44b;
  color: white;
  white-space: nowrap;
  padding: 17px 88px 17px 10px;
}

.price {
  margin-right: 40px;
}

.productPrice_Cart {
  background-color: #44b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes button to far right */
  padding: 17px 10px;
  margin-top: 10px;
}

.addToCartBtn {
  background-color: #228;
  color: white;
  padding: 5px 10px 3px;
  border: none;
  cursor: pointer;
}

.addToCartBtn:hover {
  background-color: #44b;
}




