* {
    margin: 0px;
    font-family: ;
}

nav {
    display: flex;
    padding: 10px 20px;
    background-color: #44b;
}

menu {
    list-style: none;
    padding-left: 0px;
    
}

.containerA {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.containerB {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    gap: 20px;
    text-align: center;
}

li a {
    text-decoration: none;
    color: white; 
}

li a::after{
    content: "|";
    margin: 0 10px;
}

